.bigfont{

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 6vw;
  line-height: 1.1;


text-overflow: clip;
  padding: 2%;
}
.align-items-center {

    display: flex;
    align-items: center;
    justify-content: center;



}

.bt{
  text-align: center;
  margin-bottom: 5%;

}

.bg{
  background-color: #42EADDFF;

}
.stybt{
  color: #000;
  border-style: none;
  border: 1px solid black;
  background-color: inherit;
}

.mg{
  margin-top: 8%;
}
h3{

  color:darkgreen;
  font-family: 'Mate SC', serif;
  font-size: 2rem;
}
.nodot{
  text-align: center;
}
.nodot ul{
  list-style: none;
}
p{
  text-align: center;
  margin-top: 20px;
text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.pad{
  padding-bottom: 5%;
  padding-left: 5%;
}
h2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.gr{
  color: green;
}
.pk{
  color: pink;
}
a{
  color: black;
  font-family: monospace;
text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.backk{
  background-color: #4b6cbf;
}
.top{
  padding-top: 10%;
  color: #FFF;
  font-weight: bold;
}
.cen{

  text-align: center;
}
